*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 0%;
margin: 4%;
text-align: justify;
box-sizing: border-box;
background-color: slategray;
}
h1{
    color: rosybrown;
    text-align: center;
}
p {
    color: #2A403D;
    text-align: justify;
}
.liens {
    margin-top: 3rem;
    text-align: center;
}
img{
    text-align: center;
    margin: auto;
    display: flex;
}
